<div role="main" class="main" style="background: #f0f0f0">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li><a href="#">Let's Play</a>
                        </li>
                        <li class="active">{{post.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{post.title}}</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Media cover image with details below -->
    <!-- voting system, the blue bar should show upvote and downvote relationship -->
    <!-- make it possible to create new tags in the backend, one field to write them, separating tags by comma (game, rpg, mod) -->

    <div class="container" style="margin-top: -35px; margin-bottom: -50px; background: #FFFFFF">
        <div class="row" style="box-shadow: 0px 0px 20px #000000; padding-top: 24px">
            <div class="col-md-4" style="background: #ffffff; margin-top: -24px; padding-top: 24px">
                <aside class="sidebar">

                    <img class="img-responsive" ng-src="{{post.image_url}}"  alt="" style="width: 100%">
                    <div id="Rating" style="margin-top: 10px">
                        <div class="progress progress-sm" style="height: 5px; margin-bottom: 5px">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%; opacity: 0.4"></div>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default" ng-click="Favourite()"><i class="fa fa-heart"></i> {{post.favourites.count}}</a> <a class="btn btn-default" ng-click="Like()"><i class="fa fa-thumbs-up"></i> {{post.likes.count}}</a> <a class="btn btn-default" ng-click="DisLike()" ><i class="fa fa-thumbs-down"></i>  {{post.dislikes.count}}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix" style="height: 30px"></div>

                    <h5 class="heading-primary">Tags</h5>

                    <a href="#"><span class="label label-dark" ng-repeat="(indexT, tag) in post.tags">{{tag.title}}</span></a>

                    <hr />
                    <h5 class="heading-primary">Titles</h5>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Short:</strong>
                        </div>
                        <div class="col-md-7">
                           <p ng-repeat="(indexT, shortTitle) in post.short_titles" >{{shortTitle.title}}</p>
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Alternative:</strong>
                        </div>
                        <div class="col-md-7">
                            <p ng-repeat="(indexl, altTitle) in post.alternative_titles">{{altTitle.title}}</p>
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>

                    <h5 class="heading-primary">Details</h5>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Airing:</strong>
                        </div>
                        <div class="col-md-7">
                            {{post.release_date| date :'medium'}}
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Season:</strong>
                        </div>
                        <div class="col-md-7">
                            {{post.season}}
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Episodes:</strong>
                        </div>
                        <div class="col-md-7">
                            24/...
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Length:</strong>
                        </div>
                        <div class="col-md-7">
                            {{post.length}} Min
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Genre:</strong>
                        </div>
                        <div class="col-md-7">
                            <p ng-repeat="(indexl, genr) in post.genre">{{genr.title}}</p>
                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>
                    <div class="row">
                      <div class="col-md-5">
                            <strong>Channel:</strong>
                        </div>
                        <div class="col-md-7" ng-repeat="(indexc, chanelo) in post.chanell">{{chanelo.chanell}}

                        </div>
                    </div>
                    <div class="clearfix" style="height: 5px"></div>

                </aside>
            </div>
            <!-- Screenshots and pictures -->
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="heading-primary">Pictures</h4>
                        <div class="lightbox mb-lg" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                            <div class="owl-carousel stage-margin rounded-nav" data-plugin-options='{"items": 4, "margin": 10, "loop": false, "nav": true, "dots": false, "stagePadding": 40}'>
                                <div ng-repeat="(indexT, screen) in post.screen_images" >
                                    <a class="img-thumbnail mb-xs mr-xs" href="{{screen.image_url}}">
                                        <img alt="" class="img-responsive img-rounded" ng-src="{{screen.image_url}}"  style="height: 120px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- description -->
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="heading-primary">Description</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            {{post.content}}
                        </p>
                    </div>

                </div>

                <!-- clear space -->
                <div style="width:100%; height:20px"> </div>

                <h4 class="heading-primary">Download and Streams</h4>



                <!-- Radio button -->
                <div class="row">
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons" style="float: left">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> English
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Spanish
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> French
                            </label>
                        </div>
                    </div>
                    <!-- Release Accordion -->
                    <div class="col-md-12">
                        <div class="toggle toggle-dark" data-plugin-toggle="">
                            <section class="toggle" ng-repeat="(indexC, episode) in post.episodes">
                                <label>{{episode.title}}</label>
                                <div class="toggle-content">
                                    <table class="table table-striped">
                                      <!--  <thead>
                                        <tr>
                                            <td>
                                                <h4 style="margin: 0px">Stream [720p]</h4>
                                            </td>
                                            <td>
                                                <a href="#"><img style="float:right; width: 24px; margin: 5px" src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" />
                                                </a>
                                            </td>
                                        </tr>
                                        </thead>-->
                                        <tbody>
                                        <tr ng-repeat="(indexC, stream) in episode.streams">
                                            <td>
                                                <h4 style="margin: 0px">{{stream.title}}</h4>
                                            </td>
                                            <td>
                                                <div ng-repeat="(indexC, link) in stream.stream_links">
                                                    <a rel="nofollow" href="{{link.url}}" target="_blank" >
                                                        <img ng-if="link.isYoutube" style="width: 24px; height: 24px" src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" />
                                                        <img ng-if="link.isDailymotion" style="width: 24px; height: 24px" src="http://static1.dmcdn.net/images/dailymotion-logo-ogtag.png.v2779e025da411e7f1" />
                                                        <img ng-if="link.isVimeo" style="width: 24px; height: 24px" src="http://filmmakerseo.com/vimeo/vimeologo.png"
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>