
    <header id="header" class="narrow" data-plugin-options='{"alwaysStickyEnabled": true, "stickyEnabled": true, "stickyWithGap": false, "stickyChangeLogoSize": false}'>
        <div class="container">
            <div class="logo" style="float: left; margin-right: 30%">
                <a href="#/">
                    <img alt="Porto" src="common/img/logo.png">
                </a>
                <br>
            </div>
            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <ul class="social-icons">
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a>
                    </li>
                    <li class="rss"><a href="http://www.twitter.com/" target="_blank" title="RSS">RSS</a>
                    </li>

                </ul>


                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li ng-class="getClass('home')"><!--Content/-->
                            <a href="#/">
                                Home
                            </a>
                        </li>
                        <li ng-class="getClass('news')">
                            <a href="#/news">
                                News
                            </a>
                        </li>
                        <li ng-class="getClass('letsplay')">
                            <a href="#/letsplay">
                                Let's Play
                            </a>
                        </li>
                        <li ng-class="getClass('calendar')">
                            <a href="#/calendar">
                                Release Calendar
                            </a>
                        </li>
                        <li ng-class="getClass('walkthrough')">
                            <a href="#/walkthrough">
                                Walkthrough
                            </a>
                        </li>
                        <li ng-class="getClass('games')">
                            <a href="#/games">
                                Games
                            </a>
                        </li>
                        <li ng-class="getClass('faq')">
                            <a href="#/faq">
                                FAQ
                            </a>
                        </li>
                        <li ng-class="getClass('contact')">
                            <a href="#/contact">
                                Contact
                            </a>
                        </li >

                        <li ng-if="header.isSignedIn"  ng-class="getClass('profile')">
                        <a  href="#/profile"  >{{header.name}}</a>
                        </li>

                        <li ng-if="!header.isSignedIn">
                        <a  ng-click="openLoginModal()"  >Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
