<div class="container" style="background:#262626">




    <div style="width:100%; height:70px"> </div>

    <!-- Picture -->

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">

                    <div class="post-image">
                        <img class="img-thumbnail" img style="margin:0px auto;display:block; width: 825px;height: 1169px " ng-src="{{current.page}}" alt="">
                    </div>
                    <div style="width:100%; height:10px"> </div>
                    <!--Pager -->
                    <div class="container row" style="width:100%;margin-top: 5px;">
                        <a ng-click="prevPage()">
                            <button type="button" class="btn btn btn-dark ">
                                < Previous</button>
                        </a>
                        <a ng-click="nextPage()">
                            <button type="button" class="btn btn btn-dark pull-right" style="margin-right:-30px">Next ></button>
                        </a>
                    </div>
                    <div style="width:100%; height:20px"> </div>
                </div>




                <div class="col-md-3 pull-right">
                    <aside class="sidebar">


                        <!-- Thumbnails -->
                        <button class="btn btn-dark btn-md" data-toggle="modal" data-target="#largeModal" style="width:100%; height:35px;"><i class="fa fa-th"></i>&nbsp; View Thumbnails</button>

                        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="largeModalLabel">Thumbnails</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div ng-repeat="(pageIndex,itemPage) in post.chapters[current.chapterIndex].images" class="col-md-2 text-center">
                                                <a ng-click="selectPage(pageIndex)">Page {{pageIndex}}</a>
                                            </div>



                                        </div>
                                        <div class="clearfix" style="height:5px"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%; height:10px"> </div>

                        <!-- Select chapter and page -->
                        <div class="dropdown" style="display:inline-block;">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">Chapters
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="(chapterIndex,itemChapter) in post.chapters"><a ng-click="selectChapter(chapterIndex)">{{itemChapter.title}}</a>
                                </li>

                            </ul>
                        </div>

                        <div class="dropdown" style="display:inline-block;">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">Page
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="(pageSelected,pageData) in post.chapters[current.chapterIndex].images" ><a ng-click="selectPage(pageSelected)">Page {{pageSelected}}</a>
                                </li>

                            </ul>

                        </div>

                        <!-- Details -->
                        <div class="clearfix" style="height: 50px"></div>


                        <div class="row">
                            <div class="col-md-4">
                                <strong>Titles:</strong>
                            </div>
                            <div class="col-md-8">
                                {{post.title}}
                            </div>
                        </div>
                        <div class="text1" style="height: 3px"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Series:</strong>
                            </div>
                            <div class="col-md-8">
                                {{post.series}}<!--<a href="url">The Witcher</a>-->
                            </div>
                        </div>
                        <div class="text1" style="height: 3px"></div>

                        <div class="row">
                            <div class="col-md-4">
                                <strong>Artist:</strong>
                            </div>
                            <div class="col-md-8">
                                {{post.artist}}
                                <!--
                                <a href="url">GRZEGORZ PRZYBYŚ</a>
-->
                            </div>
                        </div>
                        <div class="text1" style="height: 3px"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Translator:</strong>
                            </div>
                            <div class="col-md-8">
                                {{post.translator}}
                                <!--
                                <a href="url">Nimoke</a>
-->
                            </div>
                        </div>
                        <div class="text1" style="height: 3px"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Scanlator:</strong>
                            </div>
                            <div class="col-md-8">
                                {{post.scanlator}}
                                <!--
                                <a href="url">Marek Tatar</a>
-->
                            </div>
                        </div>
                        <div class="text1" style="height: 5px"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Magazine:</strong>
                            </div>
                            <div class="col-md-8">
                                {{post.magazine}}

                                <!--<a href="url">PC Games #37</a>-->
                            </div>
                        </div>
                        <div class="text1" style="height: 5px"></div>
                        <div class="clearfix" style="height: 5px"></div>
                        <div class="clearfix" style="height: 5px"></div>
                        <div class="row">
                            <div class="col-md-12">
                                {{post.content}}
                            </div>
                        </div>


                        <!-- Tags -->
                        <div class="clearfix" style="height: 5px"></div>
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="heading-primary">Tags</h5>
                            </div>
                            <div class="col-md-9">
                                <a  ng-repeat="(pIndex,item) in post.tags"><span class="label label-dark">{{item.title}}</span></a>

                            </div>
                        </div>
                        <hr>

                        <!-- Profile functions -->
                        <a class="btn btn-dark btn-block btn-md " target="_blank"><i class="fa fa-heart-o"></i> Favorite </a>
                        <a class="btn btn-dark btn-block btn-md "  target="_blank"><i class="fa fa-cloud-download"></i> Download</a>

                    </aside>

                </div>


            </div>
        </div>
    </div>
</div>
<!-- clear space -->
<div style="width:100%; height:30px"> </div>