<div role="main" class="main" style="background: #f0f0f0">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li class="active">Let's Play</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Let's Play</h1>
                </div>
            </div>
        </div>
    </section>





    <!-- Background Style -->
    <div class="container" style="margin-top: -35px; margin-bottom: -50px; background: #FFFFFF" ng-if="!isTable">
        <div class="row" style="box-shadow: 0px 0px 20px #000000; padding-top: 35px">

            <!-- Left column -->
            <div class="col-md-9" style="background: #FFFFFF; margin-top: -35px; padding-top: 35px">

                <!-- Choose Style -->


                <div class="btn-group pull-right" data-toggle="buttons">
                    <label class="btn btn-default active" ng-click="clickList()"><i class="fa fa-th-list"></i>
                        <input type="radio" name="options" id="option1" autocomplete="off" checked > List
                    </label>
                    <label class="btn btn-default" ng-click="clickTable()"><i class="fa fa-align-justify"></i>
                        <input type="radio" name="options" id="option2" autocomplete="off" > Table
                    </label>
                </div>

                <div style="width:100%; height:1px"> </div>

                <!-- Letter Filter -->
                <div class="row" id="paginator_top_hentaimedia" style="margin-left:15px;">
                    <div class="col-md-12">
                        <ul class="pagination pagination-sm">
                            <li><a  ng-click="searchList(' ')">All</a>
                            </li>
                            <li><a ng-click="searchList('1')">#</a>
                            </li>
                            <li><a ng-click="searchList('a')">A</a>
                            </li>
                            <li><a ng-click="searchList('b')">B</a>
                            </li>
                            <li><a ng-click="searchList('c')">C</a>
                            </li>
                            <li><a ng-click="searchList('d')">D</a>
                            </li>
                            <li><a ng-click="searchList('e')">E</a>
                            </li>
                            <li><a ng-click="searchList('f')">F</a>
                            </li>
                            <li><a ng-click="searchList('g')">G</a>
                            </li>
                            <li><a ng-click="searchList('h')">H</a>
                            </li>
                            <li><a ng-click="searchList('i')">I</a>
                            </li>
                            <li><a ng-click="searchList('j')">J</a>
                            </li>
                            <li><a ng-click="searchList('k')">K</a>
                            </li>
                            <li><a ng-click="searchList('l')">L</a>
                            </li>
                            <li><a ng-click="searchList('m')">M</a>
                            </li>
                            <li><a ng-click="searchList('n')">N</a>
                            </li>
                            <li><a ng-click="searchList('o')">O</a>
                            </li>
                            <li><a ng-click="searchList('p')">P</a>
                            </li>
                            <li><a ng-click="searchList('q')">Q</a>
                            </li>
                            <li><a ng-click="searchList('r')">R</a>
                            </li>
                            <li><a ng-click="searchList('s')">S</a>
                            </li>
                            <li><a ng-click="searchList('t')">T</a>
                            </li>
                            <li><a ng-click="searchList('u')">U</a>
                            </li>
                            <li><a ng-click="searchList('v')">V</a>
                            </li>
                            <li><a ng-click="searchList('w')">W</a>
                            </li>
                            <li><a ng-click="searchList('x')">X</a>
                            </li>
                            <li><a ng-click="searchList('y')">Y</a>
                            </li>
                            <li><a ng-click="searchList('z')">Z</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Media Projects with Paginator -->
                <!-- 20 projects underneath each other -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-9" ng-if="isLetsplayLoaded"  ng-repeat="(indexT, letsPlay) in letsPlayArray">
                            <span us-spinner="{radius:30, width:8, length: 16}" class="ca-item ca-item-1" ng-if="!isLetsplayLoaded"></span>
                            <div class="well well-sm" style="background-color:#FAFAFA">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="#/letsplay/playpost/{{letsPlay._id}}">
                                            <img class="img-responsive" ng-src="{{letsPlay.image_url}}" style="margin:0px auto;width:100%;display:inline-block;">
                                        </a>
                                    </div>
                                    <div class="col-md-8 section-box">
                                        <h3><a href="#/letsplay/playpost/{{letsPlay._id}}">{{letsPlay.title}}</a></h3>
                                        <p>
                                        <div class="text1" style="height: 2px"></div>
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2">
                                                <button type="button" class="btn btn-success btn-xs">Uncensored</button>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="height: 3px"></div>
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2">
                                                <strong>Released:</strong>
                                            </div>
                                            <div class="col-xs-9 col-md-5" style="margin-left: 30px">
                                                {{letsPlay.release_date | date :'medium'}}
                                            </div>
                                        </div>
                                        <div class="text1" style="height: 5px"></div>
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2">
                                                <strong>Description:</strong>
                                            </div>
                                            <div class="col-xs-9 col-md-9" style="margin-left: 30px">
                                                {{letsPlay.content }}
                                            </div>
                                        </div>
                                        <div class="text1" style="height: 5px"></div>
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2">
                                                <strong>Languages:</strong>
                                            </div>
                                            <div class="col-xs-9 col-md-7" style="margin-left: 30px">
                                                <button type="button" class="btn btn-warning btn-xs">English</button>
                                                <button type="button" class="btn btn-warning btn-xs">German</button>
                                                <button type="button" class="btn btn-warning btn-xs">French</button>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="height: 5px"></div>
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2">
                                                <strong>TAGS:</strong>
                                            </div>
                                            <div class="col-xs-9 col-md-9" style="margin-left: 30px">
                                                <a href="#"><span class="label label-dark" ng-repeat="(indexT, tag) in letsPlay.tags">{{tag.title}}</span></a>
                                            </div>
                                        </div>
                                        </p>
                                        <hr />
                                        <div class="row rating-desc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span us-spinner="{radius:30, width:8, length: 16}" class="ca-item ca-item-1" ng-if="!isLetsplayLoaded"></span>




                    </div>
                </div>
                <!-- clear space -->
                <div class="clearfix" style="height:15px;"></div>
            </div>

            <!--Right Sidebar-->
            <!--Search-->
            <div class="col-md-3 pull-right">
                <aside class="sidebar">

                    <form>
                        <div class="input-group input-group-md" style="padding-right:20px">
                            <input class="form-control" placeholder="Search Name, Genre, Tags..." name="s" id="s" type="text">
                            <span class="input-group-btn">
											<button type="submit" class="btn btn-primary btn-md"><i class="fa fa-search"></i></button>
										</span>
                        </div>
                    </form>
                    <hr>

                    <!--Filter-->
                    <!--insert language here as well when a new one is added through the backend -->
                    <h5 class="heading-primary">Filter</h5>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>From Year: xxxx</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>To Year: 2016</option>
                        </select>
                    </div>
                   <!-- <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>All Seasons</option>
                            <option>Spring</option>
                            <option>Summer</option>
                            <option>Fall</option>
                            <option>Winter</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>All Languages</option>
                            <option>Japanese</option>
                            <option>English</option>
                            <option>French</option>
                        </select>
                    </div>
                    <!--?
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Censored and Uncensored</option>
                            <option>Censored Only</option>
                            <option>Uncensored Only</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Order by Release</option>
                            <option>Order by Title</option>
                            <option>Order by Popularity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Order Descending</option>
                            <option>Order Ascending</option>
                        </select>
                    </div>

                    <div class="row" style="padding-right:20px">
                        <button type="button" class="btn btn-default btn-md pull-right">Filter</button>
                    </div>

                    <hr>

                    <!--Most Popular-->
                    <div class="tabs mb-xlg" ng-init="selectedTab = 'popular'">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active':selectedTab === 'popular'}" ng-click="selectedTab = 'popular'"><a  data-toggle="tab"><i class="fa fa-star"></i> Popular</a>
                            </li>
                            <li ng-class="{'active':selectedTab === 'favourite'}" ng-click="selectedTab = 'favourite'"><a  data-toggle="tab">Most Favorites</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'tab-pane active':selectedTab === 'popular' , 'tab-pane':selectedTab !== 'popular'}" >
                                <ul class="simple-post-list">
                                    <li ng-repeat="item in letsPlayPopArray">
                                        <div class="post-image">
                                            <div class="img-thumbnail">
                                                <a ng-href="#/letsplay/playpost/{{item._id}}">
                                                    <img ng-src="{{item.image_url}}" alt="" style="width:75px;height: 105px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a ng-href="#/letsplay/playpost/{{item._id}}">{{item.title}}</a>
                                            <div class="post-meta">
                                                {{item.created_time|date:'MM dd, yyyy'}}
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="tab-pane" ng-class="{'tab-pane active':selectedTab === 'favourite' , 'tab-pane':selectedTab !== 'favourite'}">
                                <ul class="simple-post-list">

                                    <li ng-repeat="item in letsPlayFavArray">
                                        <div class="post-image">
                                            <div class="img-thumbnail">
                                                <a ng-href="#/letsplay/playpost/{{item._id}}">
                                                    <img ng-src="{{item.image_url}}" alt="" style="width:75px;height: 105px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a ng-href="#/letsplay/playpost/{{item._id}}">{{item.title}}</a>
                                            <div class="post-meta">
                                                {{item.created_time|date:'MM dd, yyyy'}}                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>





            <div class="col-md-8">
                <div style="width:100%; height:100px"> </div>
            </div>
        </div>
    </div>



    <!-- Background Style -->
    <div class="container" style="margin-top: -35px; margin-bottom: -50px; background: #FFFFFF" ng-if="isTable">
        <div class="row" style="box-shadow: 0px 0px 20px #000000; padding-top: 35px">

            <!-- left column -->
            <div class="col-md-9" style="background: #FFFFFF; margin-top: -35px; padding-top: 35px">

                <!-- Choose Style -->


                <div class="btn-group pull-right" data-toggle="buttons">
                    <label class="btn btn-default" ng-click="clickList()"><i class="fa fa-th-list"></i>
                        <input type="radio" name="options" id="optioasdn1" autocomplete="off"  > List
                    </label>
                    <label class="btn btn-default active" ng-click="clickTable()"><i class="fa fa-align-justify" ></i>
                        <input type="radio" name="options" id="optiasdon2" autocomplete="off" checked > Table
                    </label>
                </div>

                <div style="width:100%; height:1px"> </div>

                <!-- Letter Filter -->
                <div class="row" id="paginator_top_hentaimedia" style="margin-left:15px;">
                    <div class="col-md-12">
                        <ul class="pagination pagination-sm">
                            <li class="active"><a >All</a>
                            </li>
                            <li><a ng-click="searchList('1')">#</a>
                            </li>
                            <li><a ng-click="searchList('a')">A</a>
                            </li>
                            <li><a ng-click="searchList('b')">B</a>
                            </li>
                            <li><a ng-click="searchList('c')">C</a>
                            </li>
                            <li><a ng-click="searchList('d')">D</a>
                            </li>
                            <li><a ng-click="searchList('e')">E</a>
                            </li>
                            <li><a ng-click="searchList('f')">F</a>
                            </li>
                            <li><a ng-click="searchList('g')">G</a>
                            </li>
                            <li><a ng-click="searchList('h')">H</a>
                            </li>
                            <li><a ng-click="searchList('i')">I</a>
                            </li>
                            <li><a ng-click="searchList('j')">J</a>
                            </li>
                            <li><a ng-click="searchList('k')">K</a>
                            </li>
                            <li><a ng-click="searchList('l')">L</a>
                            </li>
                            <li><a ng-click="searchList('m')">M</a>
                            </li>
                            <li><a ng-click="searchList('n')">N</a>
                            </li>
                            <li><a ng-click="searchList('o')">O</a>
                            </li>
                            <li><a ng-click="searchList('p')">P</a>
                            </li>
                            <li><a ng-click="searchList('q')">Q</a>
                            </li>
                            <li><a ng-click="searchList('r')">R</a>
                            </li>
                            <li><a ng-click="searchList('s')">S</a>
                            </li>
                            <li><a ng-click="searchList('t')">T</a>
                            </li>
                            <li><a ng-click="searchList('u')">U</a>
                            </li>
                            <li><a ng-click="searchList('v')">V</a>
                            </li>
                            <li><a ng-click="searchList('w')">W</a>
                            </li>
                            <li><a ng-click="searchList('x')">X</a>
                            </li>
                            <li><a ng-click="searchList('y')">Y</a>
                            </li>
                            <li><a ng-click="searchList('z')">Z</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Media Projects with Paginator -->


                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="isLetsplayLoaded" ng-repeat="(indexT, letsPlay) in letsPlayArray">
                        <td><a href="#/letsplay/playpost/{{letsPlay._id}}" data-html='true' data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<img style=width:160px; src={{letsPlay.image_url}}">{{letsPlay.title}}</a>
                        </td>
                        <td>{{letsPlay.release_date| date :'medium'}}</td>
                    </tr>
                    <span us-spinner="{radius:30, width:8, length: 16}" class="ca-item ca-item-1" ng-if="!isLetsplayLoaded"></span>

                    </tbody>
                </table>




                <!-- clear space -->
                <div class="clearfix" style="height:15px;"></div>
            </div>

            <!--Right Sidebar-->
            <!--Search-->
            <div class="col-md-3 pull-right">
                <aside class="sidebar">

                    <form>
                        <div class="input-group input-group-md" style="padding-right:20px">
                            <input class="form-control" placeholder="Search Name, Genre, Tags..." name="s" id="s" type="text">
                            <span class="input-group-btn">
											<button type="submit" class="btn btn-primary btn-md"><i class="fa fa-search"></i></button>
										</span>
                        </div>
                    </form>
                    <hr>

                    <!--Filter-->
                    <!--insert language here as well when a new one is added through the backend -->
                    <h5 class="heading-primary">Filter</h5>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>From Year: xxxx</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>To Year: 2016</option>
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>All Seasons</option>
                            <option>Spring</option>
                            <option>Summer</option>
                            <option>Fall</option>
                            <option>Winter</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>All Languages</option>
                            <option>Japanese</option>
                            <option>English</option>
                            <option>French</option>
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Airing and Finished</option>
                            <option>Airing Only</option>
                            <option>Finished Only</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Censored and Uncensored</option>
                            <option>Censored Only</option>
                            <option>Uncensored Only</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Order by Release</option>
                            <option>Order by Title</option>
                            <option>Order by Popularity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Order Descending</option>
                            <option>Order Ascending</option>
                        </select>
                    </div>

                    <div class="row" style="padding-right:20px">
                        <button type="button" class="btn btn-default btn-md pull-right">Filter</button>
                    </div>

                    <hr>

                    <!--Most Popular-->
                    <div class="tabs mb-xlg" ng-init="selectedTab = 'popular'">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active':selectedTab === 'popular'}" ng-click="selectedTab = 'popular'"><a  data-toggle="tab"><i class="fa fa-star"></i> Popular</a>
                            </li>
                            <li ng-class="{'active':selectedTab === 'favourite'}" ng-click="selectedTab = 'favourite'"><a  data-toggle="tab">Most Favorites</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'tab-pane active':selectedTab === 'popular' , 'tab-pane':selectedTab !== 'popular'}" >
                                <ul class="simple-post-list">
                                    <li ng-repeat="item in letsPlayPopArray">
                                        <div class="post-image">
                                            <div class="img-thumbnail">
                                                <a ng-href="#/letsplay/playpost/{{item._id}}">
                                                    <img ng-src="{{item.image_url}}" alt="" style="width:75px;height: 105px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a ng-href="#/letsplay/playpost/{{item._id}}">{{item.title}}</a>
                                            <div class="post-meta">
                                                {{item.created_time|date:'MM dd, yyyy'}}
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="tab-pane" ng-class="{'tab-pane active':selectedTab === 'favourite' , 'tab-pane':selectedTab !== 'favourite'}">
                                <ul class="simple-post-list">

                                    <li ng-repeat="item in letsPlayFavArray">
                                        <div class="post-image">
                                            <div class="img-thumbnail">
                                                <a ng-href="#/letsplay/playpost/{{item._id}}">
                                                    <img ng-src="{{item.image_url}}" alt="" style="width:75px;height: 105px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a ng-href="#/letsplay/playpost/{{item._id}}">{{item.title}}</a>
                                            <div class="post-meta">
                                                {{item.created_time|date:'MM dd, yyyy'}}                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>





            <div class="col-md-8">
                <div style="width:100%; height:100px"> </div>
            </div>
        </div>

    </div>
</div>


