<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#one"><i class="ion-ios-analytics-outline"></i>Hi Admin </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#one">File Upload</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" data-toggle="modal" title="SeatEats Admin Panel" href="#aboutModal">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="bg-primary" id="one" style=" padding-top: 100px;">

    <div class="container">
        <div class="row" >
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center k-content" style="padding: 50px">
                <!--content here goes-->

             <!--   <div id="chessboard">
                    <div class="king" ng-click="openRepo()">
                        <span class="icon">&#128194;</span>
                        <span class="description">repository</span>
                    </div>
                    <div class="queen" ng-click="openRepo()">
                        <span class="icon">&#128194;</span>
                        <span class="description">repository</span>
                    </div>

                </div>-->

                 <input type="file"
                       kendo-upload
                       options="options"
                       placeholder="Background"

                       name="file"/>

            </div>
        </div>
    </div>
</section>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">Hi Admin</h2>
                <p class="text-justify">
                    This is single page application to upload and to create the clients repository for the distribution, modularization and management of the SeatEats application.
                </p>
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>

<!--scripts loaded here from cdn for performance -->
<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='box box1 shadow1'>
        <span ><img id="previmg" height="48" width="48"></span>
        <h4 class='file-heading file-name-heading'>Name: #=name#</h4>
        <h4 class='file-heading file-size-heading' style="margin-bottom: 15px">Size: #=size# bytes</h4>

        <button type='button' class='k-upload-action'></button>
    </div>
</script>

