<div style="margin-right:0px;width:100%">
    <div>
        <md-button class="md-icon-button md-mini phone-button"
                   style="float: right;!important;margin-right: 0px;padding-right: 0px"
                   ng-click="onAdd()">
            <md-icon class="phoneicons material-icons md-primary" ng-class="{'grey-icon': false}">add_circle</md-icon>
        </md-button>

    </div>
    <div layout="row" style="width: 100%" ng-repeat="item in repoCtrl.repoList" flex  layout-align="center center" style="margin-bottom: 10%">

<!--content here-->

        <div class="kingkong" layout="column" >
            <div class="king" ng-click="openRepo(item)">
                <span class="icon">&#128194;</span>
                <span class="description">repository</span>
            </div>
            <p>{{item}}</p>
        </div>

        <md-button
                style="margin-top: -20px; margin-left: -20px"
                class="md-icon-button md-mini phone-button margin-left-16"
                ng-click="onRemove(item,$index)"
                flex="50">
            <md-icon class="phoneicons material-icons md-warn"
                     >remove_circle
            </md-icon>
        </md-button>



    </div>


</div>